<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
            background: url('loginbg.png') no-repeat center center fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @font-face {
            font-family: 'GT-Super';
            src: url('/fonts/GT-Super.otf');
        }

        .title {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 2rem;
            text-align: center;
            font-family: 'GT-Super';
            color: #87694e;
        }

        .login-container {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            width: 80vw;
            height: 50vh;
            max-width: 1000px;
            overflow: auto;
        }

        .form-section,
        .image-section {
            flex: 1;
        }

        .form-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .image-section {
            background: url('logincont.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 0 20px 20px 0;
            flex-basis: 50%;
        }

        .login-section h1 {
            color: #333;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 300px;
        }

        .login-form label {
            margin-bottom: .5rem;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            padding: 10px;
            margin-bottom: 1rem;
            border: 1px solid #7a7a7a;
            border-radius: 4px;
            font-size: 1rem;
        }

        .login-form button[type="submit"] {
            padding: 10px;
            margin-top: 1rem;
            border: none;
            border-radius: 4px;
            background-color: #87694e;
            color: white;
            cursor: pointer;
            font-size: 1rem;
        }

        button[type="submit"]:hover {
            background-color: #4b3c30;
        }

        @media (max-width: 768px) {
            .login-container {
                flex-direction: column;
                width: 90vw;
                height: auto;
            }

            .form-section,
            .image-section {
                flex: none;
                width: 100%;
                max-width: none;
            }

            .image-section {
                background-size: cover;
                border-radius: 20px 20px 0 0;
            }

            .login-section {
                width: auto;
                margin: 0 auto;
                padding: 20px;
            }

            .login-form {
                max-width: none;
            }

            .login-form button[type="submit"] {
                width: 100%;
            }
        }

        @media (min-width: 769px) {

            .login-container {
                flex-direction: row;
                height: 50%;
            }

            .image-section {
                flex: 1;
                border-radius: 0 20px 20px 0;
            }

            .form-section {
                flex: 0 0 50%;
            }
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="form-section">
            <div class="login-section">
                <div class="title">CelestiaQuest</div>
                <h1>Sign in to Your Account</h1>
                <form class="login-form" method="POST" action="/login">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Login</button>
                </form>
                <% if (message) { %>
                    <p>
                        <%= message %>
                    </p>
                    <% } %>
            </div>
        </div>
        <div class="image-section">
        </div>
</body>

</html>